.house{

width:500px;
height:450px;

position:relative;

background-image:url("images/house_plan.png");

background-size:contain;
background-repeat:no-repeat;
background-position:center;

border:3px solid black;

}

#petMarker{

position:absolute;

font-size:35px;

transform:translate(-50%,-50%);

transition:1s;

color:red;

}